
@{
    ViewData["Title"] = "Blog";
    Layout = "~/Views/Prantokon/_Home.cshtml";
}

<!-- Page loader -->
<div id="preloader"></div>
<!-- header section start -->
<header class="header">
    <div class="container">
        <div class="row flexbox-center">
            <div class="col-md-2 col-6">
                <div class="logo">
                    <a href="@Url.Action("Home", "Prantokon")"><img src="~/template/prantokon/prantokon/assets/img/logo.png" alt="logo" /></a>
                </div>
            </div>
            <div class="col-md-10 col-6">
                <div class="responsive-menu"></div>
                <div class="mainmenu">
                    <ul id="primary-menu">
                        <li><a class="nav-link" href="@Url.Action("Home", "Prantokon")#home">Home</a></li>
                        <li><a class="nav-link" href="@Url.Action("Home", "Prantokon")#feature">Feature</a></li>
                        <li><a class="nav-link" href="@Url.Action("Home", "Prantokon")#screenshot">Screenshot</a></li>
                        <li><a class="nav-link" href="@Url.Action("Home", "Prantokon")#pricing">Pricing</a></li>
                        <li><a class="nav-link" href="@Url.Action("Home", "Prantokon")#team">Team</a></li>
                        <li><a class="nav-link active" href="@Url.Action("Home", "Prantokon")#blog">Blog</a></li>
                        <li><a class="nav-link" href="@Url.Action("Home", "Prantokon")#contact">Contact Us</a></li>
                        <li><a class="appao-btn" href="#">Download</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header><!-- header section end -->
<!-- breadcrumb area start -->
<section class="hero-area breadcrumb-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="hero-area-content">
                    <h1>Our Blog</h1>
                    <ul>
                        <li><a href="@Url.Action("Home", "Prantokon")">Home</a></li>
                        <li><a href="@Url.Action("Blog", "Prantokon")">Blog</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section><!-- breadcrumb area end -->
<!-- blog section start -->
<section class="blog-area blog-page" id="blog">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="single-post">
                    <div class="post-thumbnail">
                        <a href="@Url.Action("BlogDetail", "Prantokon")"><img src="~/template/prantokon/prantokon/assets/img/blog/blog1.jpg" alt="blog"></a>
                    </div>
                    <div class="post-details">
                        <div class="post-author">
                            <a href="@Url.Action("BlogDetail", "Prantokon")"><i class="icofont icofont-user"></i>John</a>
                            <a href="@Url.Action("BlogDetail", "Prantokon")"><i class="icofont icofont-speech-comments"></i>Comments</a>
                            <a href="@Url.Action("BlogDetail", "Prantokon")"><i class="icofont icofont-calendar"></i>21 Feb 2018</a>
                        </div>
                        <h4 class="post-title"><a href="#">Lorem ipsum dolor sit</a></h4>
                        <p>Lorem ipsum dolor sit amet, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-post">
                    <div class="post-thumbnail">
                        <a href="@Url.Action("BlogDetail", "Prantokon")"><img src="~/template/prantokon/prantokon/assets/img/blog/blog2.jpg" alt="blog"></a>
                    </div>
                    <div class="post-details">
                        <div class="post-author">
                            <a href="@Url.Action("BlogDetail", "Prantokon")"><i class="icofont icofont-user"></i>John</a>
                            <a href="@Url.Action("BlogDetail", "Prantokon")"><i class="icofont icofont-speech-comments"></i>Comments</a>
                            <a href="@Url.Action("BlogDetail", "Prantokon")"><i class="icofont icofont-calendar"></i>21 Feb 2018</a>
                        </div>
                        <h4 class="post-title"><a href="@Url.Action("BlogDetail", "Prantokon")">Lorem ipsum dolor sit</a></h4>
                        <p>Lorem ipsum dolor sit amet, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-post">
                    <div class="post-thumbnail">
                        <a href="@Url.Action("BlogDetail", "Prantokon")"><img src="~/template/prantokon/prantokon/assets/img/blog/blog3.jpg" alt="blog"></a>
                    </div>
                    <div class="post-details">
                        <div class="post-author">
                            <a href="@Url.Action("BlogDetail", "Prantokon")"><i class="icofont icofont-user"></i>John</a>
                            <a href="@Url.Action("BlogDetail", "Prantokon")"><i class="icofont icofont-speech-comments"></i>Comments</a>
                            <a href="@Url.Action("BlogDetail", "Prantokon")"><i class="icofont icofont-calendar"></i>21 Feb 2018</a>
                        </div>
                        <h4 class="post-title"><a href="@Url.Action("BlogDetail", "Prantokon")">Lorem ipsum dolor sit</a></h4>
                        <p>Lorem ipsum dolor sit amet, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-post">
                    <div class="post-thumbnail">
                        <a href="@Url.Action("BlogDetail", "Prantokon")"><img src="~/template/prantokon/prantokon/assets/img/blog/blog3.jpg" alt="blog"></a>
                    </div>
                    <div class="post-details">
                        <div class="post-author">
                            <a href="@Url.Action("BlogDetail", "Prantokon")"><i class="icofont icofont-user"></i>John</a>
                            <a href="@Url.Action("BlogDetail", "Prantokon")"><i class="icofont icofont-speech-comments"></i>Comments</a>
                            <a href="@Url.Action("BlogDetail", "Prantokon")"><i class="icofont icofont-calendar"></i>21 Feb 2018</a>
                        </div>
                        <h4 class="post-title"><a href="@Url.Action("BlogDetail", "Prantokon")">Lorem ipsum dolor sit</a></h4>
                        <p>Lorem ipsum dolor sit amet, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-post">
                    <div class="post-thumbnail">
                        <a href="@Url.Action("BlogDetail", "Prantokon")"><img src="~/template/prantokon/prantokon/assets/img/blog/blog1.jpg" alt="blog"></a>
                    </div>
                    <div class="post-details">
                        <div class="post-author">
                            <a href="@Url.Action("BlogDetail", "Prantokon")"><i class="icofont icofont-user"></i>John</a>
                            <a href="@Url.Action("BlogDetail", "Prantokon")"><i class="icofont icofont-speech-comments"></i>Comments</a>
                            <a href="@Url.Action("BlogDetail", "Prantokon")"><i class="icofont icofont-calendar"></i>21 Feb 2018</a>
                        </div>
                        <h4 class="post-title"><a href="@Url.Action("BlogDetail", "Prantokon")">Lorem ipsum dolor sit</a></h4>
                        <p>Lorem ipsum dolor sit amet, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-post">
                    <div class="post-thumbnail">
                        <a href="@Url.Action("BlogDetail", "Prantokon")"><img src="~/template/prantokon/prantokon/assets/img/blog/blog2.jpg" alt="blog"></a>
                    </div>
                    <div class="post-details">
                        <div class="post-author">
                            <a href="@Url.Action("BlogDetail", "Prantokon")"><i class="icofont icofont-user"></i>John</a>
                            <a href="@Url.Action("BlogDetail", "Prantokon")"><i class="icofont icofont-speech-comments"></i>Comments</a>
                            <a href="@Url.Action("BlogDetail", "Prantokon")"><i class="icofont icofont-calendar"></i>21 Feb 2018</a>
                        </div>
                        <h4 class="post-title"><a href="@Url.Action("BlogDetail", "Prantokon")">Lorem ipsum dolor sit</a></h4>
                        <p>Lorem ipsum dolor sit amet, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="pagination">
                    <ul>
                        <li><a href="#"><i class="icofont icofont-curved-left"></i></a></li>
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#"><i class="icofont icofont-curved-right"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section><!-- blog section end -->
<!-- google map area start -->
<div class="google-map"></div>
<!-- google map area end -->
<!-- footer section start -->
<footer class="footer" id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="contact-form">
                    <h4>Get in Touch</h4>
                    <p class="form-message"></p>
                    <form id="contact-form" action="#" method="POST">
                        <input type="text" name="name" placeholder="Enter Your Name">
                        <input type="email" name="email" placeholder="Enter Your Email">
                        <input type="text" name="subject" placeholder="Your Subject">
                        <textarea placeholder="Messege" name="message"></textarea>
                        <button type="submit" name="submit">Send Message</button>
                    </form>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="contact-address">
                    <h4>Address</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud</p>
                    <ul>
                        <li>
                            <div class="contact-address-icon">
                                <i class="icofont icofont-headphone-alt"></i>
                            </div>
                            <div class="contact-address-info">
                                <a href="callto:#">+8801712435941</a>
                                <a href="callto:#">+881934180093</a>
                            </div>
                        </li>
                        <li>
                            <div class="contact-address-icon">
                                <i class="icofont icofont-envelope"></i>
                            </div>
                            <div class="contact-address-info">
                                <a href="mailto:#">Jsoftbd87gmail.com</a>
                            </div>
                        </li>
                        <li>
                            <div class="contact-address-icon">
                                <i class="icofont icofont-web"></i>
                            </div>
                            <div class="contact-address-info">
                                <a href="www.jsoftbd.com">www.jsoftbd.com</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="subscribe-form">
                    <form action="#">
                        <input type="text" placeholder="Your email address here">
                        <button type="submit">Subcribe</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="copyright-area">
                    <ul>
                        <li><a href="#"><i class="icofont icofont-social-facebook"></i></a></li>
                        <li><a href="#"><i class="icofont icofont-social-twitter"></i></a></li>
                        <li><a href="#"><i class="icofont icofont-brand-linkedin"></i></a></li>
                        <li><a href="#"><i class="icofont icofont-social-pinterest"></i></a></li>
                        <li><a href="#"><i class="icofont icofont-social-google-plus"></i></a></li>
                    </ul>
                    <p>
                        &copy; <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        Copyright &copy;
                        <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer><!-- footer section end -->
<a href="#" class="scrollToTop">
    <i class="icofont icofont-arrow-up"></i>
</a>
<div class="switcher-area" id="switch-style">
    <div class="display-table">
        <div class="display-tablecell">
            <a class="switch-button" id="toggle-switcher"><i class="icofont icofont-wheel"></i></a>
            <div class="switched-options">
                <div class="config-title">Home variation:</div>
                <ul>
                    <li><a href="index.html">Home - Fixed Text</a></li>
                    <li><a href="index-slider.html">Home - Slider Effect</a></li>
                    <li><a href="index-video.html">Home - Video Background</a></li>
                </ul>
                <div class="config-title">Other Pages</div>
                <ul>
                    <li class="active"><a href="blog.html">Blog</a></li>
                    <li><a href="@Url.Action("BlogDetail", "Prantokon")">Blog Details</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

